<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - WebScraper_PropertyResearch</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/WebScraper_PropertyResearch.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">

                @* <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">TestAttempt1</a> *@

                @*<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button> *@
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">

@*! ================================== EDIT NAV BAR SECTION BELOW: *@
                    @* <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                        </li>
                    </ul> *@

                    @* =============== ADDING SESSION IN LOGIN // REGISTER TO INCLUDE NAME/words in NAVBAR =============== *@
                    @if (Context.Session.GetInt32("UUID") != null)
                    {
                        @* <div>
                            <h3 class="me-5 text-dark">Welcome @Context.Session.GetString("UserName")!</h3>
                        </div> *@
                        <div>
                            <ul class="navbar-nav flex-grow-1">
                                @* UPDATED BELOW: *@
                                    <li class="nav-item">
                                        <a class="nav-link text-dark text-decoration-underline" asp-area="" asp-controller="SiteCheck" asp-action="Index">Home</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link text-dark text-decoration-underline" asp-area="" asp-controller="SiteCheck" asp-action="New">New Site Check</a>
                                    </li>

                                @* ADDED LOGOUT BELOW *@
                                    <li class="nav-item">
                                        <form  asp-controller="User" asp-action="Logout" method="post">
                                        <button class="btn btn-link text-dark" >Logout</button>
                                        </form>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link text-dark text-decoration-underline" asp-area="" asp-controller="Home" asp-action="Privacy">Help</a>
                                    </li>
                            </ul>
                        </div>

                    }
@* ============================================= UPDATED ABOVE ======================================= *@
@*! =========================== ^^^ EDIT ABOVE NAV BAR SECTION ^^^ *@

                </div>
            </div>
        </nav>
    </header>


    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        @* <div class="container">
            &copy; 2023 - WebScraper_PropertyResearch - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div> *@
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
