@* This is a Partial *@

@model User

@*ERRORS HERE*@
<div class="container w-75 mx-auto">
    <h1>Register</h1>
    <form asp-action="Register" asp-controller="User" method="Post" class="shadow p-3 rounded">
        @* section *@
        <div class="mb-3">
            <label asp-for="FirstName"></label>
            <input asp-for="FirstName" type="text" class="form-control"/>
            <span asp-validation-for="FirstName" class="text-danger font-weight-bold"></span>
        </div>
        @* section *@
        <div class="mb-3">
            <label asp-for="LastName"></label>
            <input asp-for="LastName" type="text" class="form-control"/>
            <span asp-validation-for="LastName" class="text-danger font-weight-bold"></span>
        </div>
        @* section *@
        <div class="mb-3">
            <label asp-for="Email"></label>
            <input asp-for="Email" type="text" class="form-control"/>
            <span asp-validation-for="Email" class="text-danger font-weight-bold"></span>
        </div>
        @* section *@
        <div class="mb-3">
            <label asp-for="Password"></label>
            <input asp-for="Password" type="password" class="form-control"/>
            <span asp-validation-for="Password" class="text-danger font-weight-bold"></span>
        </div>
        @* section *@
        <div class="mb-3">
            <label asp-for="PasswordConfirm"></label>
            <input asp-for="PasswordConfirm" type="password" class="form-control"/>
            <span asp-validation-for="PasswordConfirm" class="text-danger font-weight-bold"></span>
        </div>
    <button class="btn btn-outline-dark">Submit</button>

    </form>


</div>

