@model SiteCheck

@{
    ViewData["Title"] = $"{Model.SiteCheckName}";
}
<div>
    @* Top of Page *@
    <div>
        <div>
            <h1 class="">@ViewData["Title"]</h1>
            <a  asp-controller="SiteCheck" asp-action="Edit" asp-route-id="@Model.SiteCheckId" class="btn btn-outline-success mt-2">Edit</a>
        </div>
        <div>
            <h3>@Model.CreatedAt</h3>
            <p>Results Table:</p>
        </div>
    </div>
    @* Results Table *@
    <div>
        <p>TABLE GOES HERE...</p>
        <p>@Html.Raw(Model.SiteCheckName)</p>
        <p>Full Address - from web scrapper...</p>
        <p>Owner Name - from web scrapper...</p>
        <p>Zoning - from web scrapper...</p>
        <p>Flood Zone - from web scrapper...</p>
        <p>Airport - from web scrapper...</p>
        <p>tbd/etc - from web scrapper...</p>
    </div>
    <div>
        <p class="btn btn-outline-dark">Email Results</p>
        <p class="btn btn-outline-dark">SAVE TO PDF</p>
    </div>
</div>